<div id="count_result">{{ i18n.count_result }}</div>

<div class="numbers-wrapper">
	{{#each matches}}
		<div class="number-wrapper number-box {{#if this.selected}}selected{{/if}}" data-phone_number="{{this.phone_number}}">
			<input type="checkbox" {{#if this.selected}}CHECKED="CHECKED"{{/if}}></input>
			<span class="phone-number">{{formatPhoneNumber this.phone_number}}</span>

			<div class="number-options pull-right">
				<div class="navbar">
					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
							<ul class="dropdown-menu">
							{{#if ../isCnamEnabled}}
								<li><a class="cnam-number" href="#"><i class="fa fa-user"></i>{{ @root.i18n.callerId }}</a></li>
							{{/if}}
							{{#if ../isE911Enabled}}
								<li><a class="e911-number" href="#"><i class="fa fa-ambulance"></i>{{ @root.i18n.e911 }}</a></li>
							{{/if}}
								<li><a class="failover-number" href="#"><i class="fa fa-thumbs-down"></i>{{ @root.i18n.failover }}</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	{{/each}}
</div>
